<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tugas 5</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Import' , article_path('new')%></li>
      </ul>
    </div>
  </div>
</nav>
